@font-face {
	font-family: 'DejaVu-Custom';
	src: url('fonts/DejaVuSansMonoCustomArrows.ttf') format('truetype');
}
html,
body {
  background-color: #000;
  font-size: 19px;
  font-family: 'DejaVu-Custom';
}